//
//  qa.xcconfig
//  PayExample
//
//  Created by Panpan Han  on 2019/2/28.
//  Copyright © 2019 Panpan Han . All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PE_BUNDLE_ID = com.payexample.qa
PE_BUNDLE_NAME = PayExampleQA
PE_BUILD_VERSION = 2
PE_SHORT_BUILD_VERSION = 2.0

